*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    background: rgba(0,0,0,0.3);
}
.titulo-seccion{
    color: #fff;
    font-size: 2.375rem;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}
.titulo-seccion p{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
#container{
    width:100%;
    min-height:68px;
    border-bottom: 1px solid rgba(134, 23, 23, 0.15);
    padding: 0 36px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    position: relative;
    z-index: 100;
    background: rgba(0,0,0,0.2);

}
.logo{
    display: inline-block;
    width: 50px;
}
.logo img{
    width: 100%;
    vertical-align: top;
}
/*fixed*/
.fixed-header{
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid rgba(204,204,204,0.5);
    padding: 0 36px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: all .4s ease;
    margin-top: -68px;
  }
  .fixed-header .menu-principal a, .fixed-header .top-redes a{
    color: #444444;
    padding: 0 10px;
    letter-spacing: 0;
  }
  
  .fixed-header .menu-principal a:hover, .top-redes a:hover{
    color: #0089E0;
  }
  .fixed-header .logo{
    display: inline-block;
    width: 50px;
    padding: 5px;
  }
  .fixed-header .logo img{
    width: 100%;
    vertical-align: top;
  }

  
  /*Version escritorio*/
#container a,  .top-redes a{
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}
#container a:hover,  .top-redes a:hover{
    color: #0089e0;
}
#container a:last-child,  .top-redes a:last-child{
    padding-right: 0;
}
.top-redes a i{
    font-size: 1rem;
}
/*version mobile*/
.menu-mobile{
    display: none;
}
/*banner*/
.banner-principal{
    width: 100%;
    margin-top: -68px;
    position: relative;
    
}
 .banner-principal .banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    ;
}
.banner-principal .texto-banner{
    width: 90%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.banner-principal .texto-banner h1{
    font-size: 6.06rem;
    font-weight: 500;
    line-height: 90px;
    color: #fff;

}
.banner-principal .texto-banner h2{
    font-size: 3rem;
    color: #fff;
}

/*seccion slide tomar mate*/
.contenedor-slider{
    width: 100%;
    overflow: hidden;
    background: #f3f3fa;
    padding: 54px 0;
    position: relative;
}
.contenedor-slider  .slider{
    width: 400%;
    display: flex;
    max-height:500px;
}
.contenedor-slider .slider::before{
    content: "";
    position: absolute;
    z-index: 99;
    background: rgba(0,0,0,0.3);
    width: 100;
    top: 0;
    left: 0;
    height: 100%;
}
.contenedor-slider .slider .slide{
    width: 15%;
    max-width: 980px;
    box-shadow: 0px 20px 40px #aaa;
    margin:0.7%;
    max-height: 750px;
}
.contenedor-slider .slider .slide img{
    width: 100%;
    height:100%;
    vertical-align: top;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.contenedor-slider .titulo-seccion{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    width:50%;
    z-index: 999;
    color: #fff;

}
.contenedor-slider .titulo-seccion h2 {
    font-size: 1.2rem;
    background: rgba(0,0,0,0.3) ;
}

.contenedor-slider .btn-atras, .contenedor-slider .btn-siguiente{
    display:inline-block;
    cursor:pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.contenedor-slider .btn-atras{
    left: 2%;
}
.contenedor-slider .btn-siguiente{
    right: 2%;
}
.contenedor-slider .btn-atras i, .contenedor-slider .btn-siguiente i {
    color:#fff
}
.contenedor-slider .btn-atras i:hover, .contenedor-slider .btn-siguiente i:hover{
    color:#8e44ad
}
.contenedor-slider .slider .slide h3{
    position: relative;
    align-items: center;
    text-align: center;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: #fff;
    background:rgba(0,0,0,0.3);
    padding: 2px;

}
.contenedor-slider .slider .slide a{
    position: relative;
    align-items: center;
    text-align: center;
    bottom: 10%;
    left: 45%;
    z-index: 999;
    color: rgb(72, 161, 245);
    background:rgba(0,0,0,0.3);
    padding: 2px;
    transform: translateX(-50%);
    text-decoration: none;
}
/*Grid panaderias*/

.panaderias-recomendadas{
    text-align: center;
    align-items: center;
    padding: 5%;
}
.panaderias-recomendadas .grid-pana{
    display: grid;
    gap: 3rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));

}
.panaderias-recomendadas .grid-pana .panaderias{
   grid-column: span 2;
    border: 1px solid #ccc;
    padding: 20px;
    
}
.panaderias-recomendadas .grid-pana .panaderias img{
    width: 100%;
    height: 100%;
    padding: 36px;;
}

/*contacta a tu guia*/

.contacto{
    padding-top: 54px;
    padding-bottom: 108px;
}
.contacto .contenedor{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}
.contacto .contenedor .equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacto  .contenedor .equipo .persona-equipo{
    padding: 50px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.2);
}
.contacto .contenedor .equipo .persona-equipo:first-child, .contacto .contenedor .equipo .persona-equipo:last-child{
    position: relative;
    top: 20px;
}
.contacto .contenedor .equipo .persona-equipo .foto {
    width: 50%;
    max-width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}
.contacto .contenedor .equipo .persona-equipo .foto img{
    width: 100%;
    border-radius: 100%;
}
.contacto .contenedor .equipo .persona-equipo .texto h3 {
font-size: 1.6rem;
font-weight: 500;
}
.contacto .contenedor .equipo .persona-equipo .texto h4 {
font-size: 0.8rem;
font-weight: 400;
margin-bottom: 15px;
margin-top: 10px;
} 
.contacto .contenedor .equipo .persona-equipo .texto p {
    font-weight: 400;
    font-size: 0.9rem;

} 

/*formulario contacto*/

.contacto2{
    padding: 100px;
    background-image: url(../img/cordobabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contacto2 .contenedor-formulario{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}
.contacto2 .contenedor-formulario .formulario{
    width: 50%;
    padding: 30px;
    min-height: 200px;
}
.contacto2 .contenedor-formulario .formulario h2{
    font-size: 1.375rem;
    line-height: 24px;
    margin-bottom: 50px;
    font-weight: 500;
}
.contacto2 .contenedor-formulario .formulario .formulario-contacto .input-group{
    position: relative;
    margin-bottom: 2rem;
}
.contacto2 .contenedor-formulario form input[type='text'], .contacto2 .contenedor-formulario form input[type='email']{
    font-size: 1rem;
    width: 100%;
    outline: none;
    padding: 0.9375rem 0;
    background: none;
    border: none;
    border-bottom: 2px solid #9F9888;
    vertical-align: top;

}
.contacto2 .contenedor-formulario form textarea{
   font-size: 1rem;
    width: 100%;
    outline: none;
    padding: 0.9375rem 0;
    background: none;
    border: none;
    border-bottom: 2px solid #9F9888;
    vertical-align: top;
    max-width: 100%;
    min-width: 100%;
    max-height: 5.125rem;
    min-height: 5.125rem;
}
.contacto2 .contenedor-formulario form label{
    color:#9F9888 ;
}
.contacto2 .contenedor-formulario .formulario .formulario-contacto label[class~="label"]{
    position: absolute;
    top: 1rem;
    left: 0;
    line-height: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    transition: all .3s ease;
}
.contacto2 .contenedor-formulario .formulario .formulario-contacto .input-group label.label.active{
    top: -0.75rem;
    margin-left: 0;
    font-size:0.75rem;
    line-height: 0.75rem;
}

.contacto2 .contenedor-formulario .formulario .formulario-contacto .input-group .error{
    position: absolute;
    color: rgb(255,59,59);
    font-size: 0.875rem;
}
.contacto2 .contenedor-formulario .formulario form input[type="submit"]{
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 0.9rem;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 0.5px;
    transition: all .7s ease;
    border: 1px solid #0089E0;
    margin-top: 3rem;
    outline: none;
}
.contacto2 .contenedor-formulario .formulario form input[type="submit"]:hover{
    background: #fff;
}
.contacto2 .contenedor-formulario .foto{
  background-image: url('../img/mateform.jpg');
  width: 50%;
  background-size: cover;
  background-position: center;
}

/* ------ PIE DE PÁGINA ------ */

footer{
  padding: 54px 0;
  text-align: center;
}

footer .copy{
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .footer-redes a{
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
  color: #444444;
}

@media screen and (max-width:1040px){
  /*contacto*/
  .contacto .contenedor .titulo-seccion{
    margin-bottom: 60px;
  }
  .contacto .contenedor .equipo .persona-equipo{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .contacto .contenedor .equipo .persona-equipo:first-child{
    top: -20px;
  }
 .contacto .contenedor .equipo .persona-equipo .foto{
    margin-right: 20px;
  }

  /*contacto 2*/
  .contacto2 .contenedor-formulario .formulario {
    width: 100%;
  }
  .contacto2 .contenedor-formulario .foto{
    display: none;
  }
}

@media screen and (max-width: 900px){
  /*Encabezado*/ 
  #container{
    display: none;
  }

  .menu-mobile{
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  .menu-mobile .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile .barra .logo{
    width: 40px;
  }
  .menu-mobile .barra a i{
    font-size: 1.4rem;
    color: #444444;
  }

  .menu-mobile .menu-principal{
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204,204,204,0.5);
    border-right: 1px solid rgba(204,204,204,0.5);
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
    background: #fff;
    text-align: center;
  }

  .menu-mobile .menu-principal a{
    display: block;
    padding: 10px;
    color: #444444;
    border-bottom: 1px solid rgba(204,204,204,0.5);
  }

  .menu-mobile .menu-principal a:hover{
    background: #f7f7f7;
  }
  .fixed-header{
    display: none;
  }

  /*Main*/
  *{
    margin-top: 0;
  }

  /*Contacto*/
  .contacto2 .contenedor-formulario .formulario{
    width: 100%;
    text-align: center;
  }
 .contacto2.contenedor-formulario .foto{
    display: none;
  }

}

@media screen and (max-width:550px){
  /*Banner principal*/
  .banner-principal .texto-banner h1{
    font-size: 4rem;
  }
  /*Titulo secciones*/
  .titulo-seccion h2{
    font-size: 2.125rem;
  }
  /*contenedor slider*/

  .contenedor-slider .slider .slide a{
     left: 40%;
  }
  .contenedor-slider .titulo-seccion h2 {
    font-size: 1rem;


 }
 .contenedor-slider .slider .slide h3{
    font-size: 1rem;
 }
  /*Nuestro equipo*/
  .contacto .contenedor .equipo .persona-equipo{
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  /*Contacto*/
  .contacto2 .contenedor-formulario .formulario{
    height: 400px;
  }
  .contacto2 .contenedor-formulario .formulario h2{
    font-size: 1rem;
    margin-bottom: 10px;
  } 
  .contacto2 .contenedor-formulario .formulario{
    padding: 10px 20px;
  }
  .contacto2 .contenedor-formulario .formulario form input[type='submit']{
    margin-top: -2px;
  }
}